<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
  <appSettings>
    <!-- Use pipe caracter as seperater -->
    <add key="SafeMitigationActions" value="Cross cover with division|Cross cover out of division|Reduced beds|Reduced acuity|Current staff given extra hours|Cancelled training or courses|Specialist nurses pulled in"/>
    <add key="UnsafeSafeMitigationActions" value="Out to additional agency|Closed beds|Reviewed activity"/>
    <add key="DateTimeFormat" value="{0:dd/MM/yyyy}"/>
    <add key="DropDownDefaultText" value="Please select from the list"/>
    <add key="DropDownAllText" value="All"/>
  </appSettings>