<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="ApplicationServices" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=NHSOperationsDatabase;Persist Security Info=True;User ID=sa;Password=1qaz2wsx@" providerName="System.Data.SqlClient" />
    <!--<add name="ApplicationServices" connectionString="workstation id=NHSOperationsDatabase.mssql.somee.com;packet size=4096;user id=brianperera_SQLLogin_1;pwd=rke6aoqf8d;data source=NHSOperationsDatabase.mssql.somee.com;persist security info=False;initial catalog=NHSOperationsDatabase" providerName="System.Data.SqlClient" />-->
 </connectionStrings>
	<system.web>
    <globalization uiCulture="en" culture="en-US" />
    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <add name="XmlSiteMapProvider"
        description="Default SiteMap provider."
        type="System.Web.XmlSiteMapProvider "
        siteMapFile="Web.sitemap"
        securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
  <authorization>
   <allow users="?" />
  </authorization>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"/>
		<authentication mode="Forms">
			<forms loginUrl="~/Login.aspx" protection="All" timeout="30" cookieless="UseCookies" path="/" requireSSL="false" slidingExpiration="true"/>
		</authentication>
    <membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
			</providers>
		</membership>
		<profile enabled="true">
      <properties>
        <add name="FirstName" type="string"/>
        <add name="LastName" type="string"/>
        <add name="Phone" type="string"/>
      </properties>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
			</providers>
		</profile>
		<roleManager enabled="true">
   <providers>
    <clear />
    <add connectionStringName="ApplicationServices" applicationName="/"
     name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
    <add applicationName="/" name="AspNetWindowsTokenRoleProvider"
     type="System.Web.Security.WindowsTokenRoleProvider" />
   </providers>
  </roleManager>
  </system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
    <defaultDocument>
      <files>
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
	</system.webServer>
  <appSettings configSource="appSettings.config"  />
</configuration>
