.dashBoard tr th
{
    /*width: 200px !important;*/
    
}

.regularTable tr th, .regularTable tr td
{
    width: auto;
}



.menu .dynamic
{
    cursor: pointer;  
}

.menu .static
{
    cursor: pointer; 
}

.menu .level2 li
{
    width:220px;
    height:100%;
    margin-bottom:-4px;
}

.menu .level3 li
{
    width:80px;
    border-bottom: 1px solid white !important;
    border-top: 1px solid white !important;
}